@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}                 
nav {
  background-color: lightgray;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
}

nav ul li .active {
  color: orangered;
}

.lefts {
  flex: 50%;
}

.rights {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.rights a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

#barsmenu {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger a {
  color: #000;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

.nav-right {
  flex: 100%;
  text-align: start;
  margin-left: 25px;
}